.form-wrap {
  display: flex;
  height: 100vh;
}

.form * {
  text-align: center;
}

.bodywrap {
  width: 50%;
}

.formbody {
  /* width: 50%; */
  height: 80%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  overflow-y: scroll;
  scrollbar-color: var(--redberry-red) white;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  background: var(--redberry-red);
  border-radius: 1em;
}

.form-message {
  color: var(--redberry-red);
  font-size: 3em;
  font-family: Rowdies, cursive;
}

.forminfo {
  width: 50%;
  background-color: black;
}

.forminfomessage {
  color: var(--redberry-red);
  font-size: 3em;
  font-family: Rowdies, cursive;
}

.forminfotext {
  color: white;
  font-size: 2em;
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin: 4em 4em 4em 2em;
}

.prev {
  transform: scaleX(-1);
}

button {
  background-color: #ffffff;
  border: none;
}

.buttons {
  width: 50%;
  margin: auto auto;
  position: absolute;
  bottom: 135px;
}

.page-button {
  width: 1.5em;
  height: 1.5em;
  background-color: var(--redberry-red);
  border-radius: 50%;
  margin: 6px 6px 8px 6px;
}
