.work-preferance {
  display: flex;
  flex-direction: column;
}

.Covid {
  margin: 0 auto;
  width: 30em;
}

.Covid * {
  text-align: left;
}

.radio {
  height: 1em;
  margin: 0 0.5em;
  width: 1em;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  cursor: pointer;
}

.work-preferance-item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
}

.contracted {
  display: flex;
  flex-direction: column;
}

.contracted h2 {
  margin-top: 2em;
}

.vaccinated h2 {
  margin-top: 2em;
}

.contracted-item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
}

input[type="date"] {
  margin: 0;
}

::-webkit-calendar-picker-indicator {
  filter: invert(38%) sepia(84%) saturate(4471%) hue-rotate(349deg)
    brightness(100%) contrast(101%);
}
