.personalinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40vw;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.personalinfo input {
  margin: 3em;
  margin-bottom: 0em;
  width: 35em;
  height: 5em;
  font-size: 0.8em;
}

.personal-input {
  text-align: left;
  padding-left: 10px;
}
.personal-input::placeholder {
  text-align: left;
}

.error {
  color: red;
}
