.personalinfo {
  display: flex;
  flex-direction: column;
}

input {
  margin: 1.5em;
  margin-bottom: 0.5em;
  width: 20em;
  height: 3em;
}

.personal-input {
  text-align: left;
  padding-left: 10px;
}
.personal-input::placeholder {
  text-align: left;
  padding-left: 10px;
}

.error {
  color: red;
}
