.personalinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40vw;
  align-items: center;
  margin-top: -2em;
}

input {
  margin: 1.5em;
  margin-bottom: 0em;
  width: 30em;
  height: 3em;
}

.personal-input {
  text-align: left;
  padding-left: 10px;
}
.personal-input::placeholder {
  text-align: left;
  padding-left: 10px;
}

.error {
  color: red;
}
