.technical {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-experience {
  font-style: italic;
  margin: 1.5em;
  margin-bottom: 0.5em;
  width: 30rem;
  height: 3em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.button-add {
  background-color: var(--redberry-red);
  color: white;
  font-style: italic;
  margin: 1.5em;
  margin-bottom: 0.5em;
  width: 20em;
  height: 3em;
  align-self: flex-end;
  font-family: "Montserrat", sans-serif;
}

.error-none {
  display: none;
}

.skill-item {
  display: flex;
  justify-content: flex-start;
  width: 20em;
  margin-top: 2em;
  padding: 1.5em;
  border-radius: 0.5em;
  border: 1px solid gray;
  width: 27em;
}

.remove-skill {
  margin-left: auto;
  margin-right: 1em;
  cursor: pointer;
}

.skill-item * {
  font-size: 1em;
}

.skill-name,
.skill-experience {
  margin-left: 1em;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
